@charset "utf-8";
/* CSS Document */

html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
margin: 0;
padding: 0;
border: 0;
font-style: normal;
text-align: left;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
ol,ul {
list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
content: "";
}

*{
margin: 0;
padding: 0;
}

html {
height:100%;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@font-face {
  font-family:"MuseoSans100";
  src: url("/fonts/museo-sans/100/MuseoSans-100.eot?") format("eot"),
     url("/fonts/museo-sans/100/MuseoSans-100.woff") format("woff"),
     url("/fonts/museo-sans/100/MuseoSans-100.ttf") format("truetype"),
     url("/fonts/museo-sans/100/MuseoSans-100.svg#MuseoSans-100") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"MuseoSans500";
  src: url("/fonts/museo-sans/500/MuseoSans-500.eot?") format("eot"),
     url("/fonts/museo-sans/500/MuseoSans-500.woff") format("woff"),
     url("/fonts/museo-sans/500/MuseoSans-500.ttf") format("truetype"),
     url("/fonts/museo-sans/500/MuseoSans-500.svg#MuseoSans-500") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"MuseoSans300";
  src: url("/fonts/museo-sans/300/MuseoSans-300.eot?") format("eot"),
     url("/fonts/museo-sans/300/MuseoSans-300.woff") format("woff"),
     url("/fonts/museo-sans/300/MuseoSans-300.ttf") format("truetype"),
     url("/fonts/museo-sans/300/MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight:normal;
  font-style:normal;
}



body{transition: 0.1s all;  -webkit-transition: 0.1s all;  -o-transition: 0.1s all;  -moz-transition: 0.1s all; line-height: normal;}

/*form*/
input, textarea {
  box-sizing: border-box;
  }


h1{
	font-size: 40px;
}

#containerbody{ /*padding-top: 180px;*/ }

#containerbody a.home, #containerbody a.about, #containerbody a.services{ position: relative !important; top:-180px !important; }

.row{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}



.content {
    padding-bottom: 86px;
}

header {
  position: fixed;
  background:#FFF;
  width: 100%;
  z-index: 100;
}

header .row{
	margin-top: 20px;
}

#row_logo{
	height: 110px;
}
#row_logo a.logo{
	display: block;
	float: left;
}
#row_logo div{
	width: 300px;
	float: right;
}


#row_logo div a{
	display: block;
    float: right;

}

#row_logo div a.login{
	margin-top: 70px;
    margin-right: 30px;
}

section.navegation{


	background: #53a0a7;
    display: block;
    height: 30px;
    width: 100%;
}
section.navegation div.address{
	color: #fff;
	font-size: 16px;
	margin-top: 7px;
	float: left;
  font-family: 'MuseoSans100';
}

section.navegation nav{
	float: right;
	margin-right: 20px;
	margin-top: 7px;

  font-family: 'MuseoSans100';
}
section.navegation nav ul{
	list-style: none;
	padding: 0;
	margin:0;
}
section.navegation nav ul li{
	display: inline-block;
	margin-left: 15px;
}

section.navegation nav ul li a{
  font-family: 'MuseoSans300';
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

section.navegation nav ul li a:hover{
	text-decoration: underline;
}
section.navegation nav ul li a:active, section.navegation nav ul li a:focus {
   width:0;
   height:0;
   outline:0; /* Para los navegadores que lo entienden */
}




section.home{
    background: url("/img/home.jpg") no-repeat center top;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;

  height:675px;
  margin-bottom: 180px
  }

section.home .text{
    color: #FFF;
    font-size: 35px;
    width: 1100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 75px;
    font-family: 'MuseoSans100';

    margin-bottom: 70px;
}


section.home .content_pc{
    width: 610px;
    height: 503px;
    margin: 0 auto;
    padding-top: 24px;
    background: url(/img/pc.png) no-repeat;
}


.pc{
    width: 560px;
    height: 318px;
    margin: 0 auto;
    background: #000;
}

section.about{
  background: #d0e1f0;
}

section.about .row{
	padding-top: 70px;
	display: flex;
}

section.about .row h1{
	width: 375px;
	text-align: right;
	margin: 0px;
	padding-right: 48px;
  font-family: 'MuseoSans100';
  color: #1768b1
}


#des_about{
	color: #1769b1;
	font-size: 18px;
  line-height: 25px;
	width: 586px;
	padding: 0px 48px;
  font-family: 'MuseoSans500';
  height: 230px;
  overflow: auto;
}


#des_about p:first-child{
	margin-top: 0px;
}


section.services{

  margin-top: -5px;
	background: url("../img/bg_service.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*min-height: 940px;*/

  padding:110px 0 165px 0;

}

#content_text_service{
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 60px;
    
}
section.services h1{
	color: #FFF;
	padding-right: 48px;
  font-family: 'MuseoSans100';
}
section.services #content_text_service div{
	border-left: solid 1px #fff;
	padding-top: 36px;
	padding-bottom: 36px;
	padding-left: 48px;
  font-family: 'MuseoSans100';
}




#imgs_service{
	height: 585px;
	display: flex;

}

#imgs_service .item_serv{ display:block; position:relative; width:228px; height:580px; display:inline-block; margin-right: 2px;}
#imgs_service .item_serv:last-child{ margin-right: 0px;}

#imgs_service .item_serv .tooltip-ico{ width:150px; height:40px; background:url(img/tooltip/btn_view.png);
  position:absolute; bottom:150px; right:41px; cursor:pointer; z-index: 0}

#imgs_service .item_serv .title{ display: block; margin-top: 312px; text-align: center; }
#imgs_service .item_serv .title H1{ padding: 0px; text-align: center; font-size: 22px; }

#imgs_service .item_serv .tooltip { background:#fff; min-height: 560px; text-align: center; color: #004a80; padding:84px 20px 0px 20px;
  box-sizing: border-box; display:none;width:208px;position:absolute; bottom: -140px; right: -32px; 
  box-sizing:border-box;font-family:"MuseoSans300", Verdana, Geneva, sans-serif;font-size:13px;
  text-transform:uppercase;color:#5a564f;line-height:1.4em; z-index:9999;
}
#imgs_service .item_serv .tooltip H1{font-family: 'MuseoSans300'; color: #004a80; font-size: 22px; line-height: normal; text-align: center; padding:0px; margin-bottom: 36px;}
#imgs_service .item_serv .tooltip p{ text-align: center; text-transform:none; font-size: 16px; line-height: normal;}
#imgs_service .item_serv .tooltip ul{ list-style:disc; margin-left: 25px;}
#imgs_service .item_serv .tooltip ul li{ text-transform: none; font-size: 16px; margin-bottom:5px;}

#imgs_service .item_serv .tooltip img{ margin-bottom:35px; }



#imgs_service .item_serv:nth-child(1) { background:url(img/imgs_service_1.jpg); }
#imgs_service .item_serv:nth-child(2) { background:url(img/imgs_service_2.jpg); }
#imgs_service .item_serv:nth-child(3) { background:url(img/imgs_service_3.jpg); }
#imgs_service .item_serv:nth-child(4) { background:url(img/imgs_service_4.jpg); }
#imgs_service .item_serv:nth-child(5) { background:url(img/imgs_service_5.jpg); }




section.faq{
	background: url("../img/background.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 35px 0 165px 0;
}

section.faq .box_faq{
	/**background: url("../img/bg_transparent.png");**/
	/**padding: 1px 60px 10px;**/

  background: url("../img/bg_transparent.png");  
	padding: 30px 50px 50px 30px;
  display: block;
}

section.faq .box_faq h1{


  font-family: 'MuseoSans300';
  margin-bottom: 30px;
  color: #1768b1
}


#accordion{
	padding: 0px;
	margin: 0px;

  font-family: 'MuseoSans300';

}




/**
li.tree-parent[aria-expanded="true"] {
	color: #b32c32;
}
**/
/** footer **/
#row_footer{
	margin-top: 20px;
	margin-bottom: 20px;
}
#ico_atom{
	display: inline-block;
	margin-left: 100px;
	margin-right: 30px;
}
#ico_atom img{
	vertical-align: baseline;
}
#text_footer{
	display: inline-block;
	color: #1769b1;
	border-left: solid 1px #1769b1;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
  font-family: 'MuseoSans100';
}
#social_footer{
	display: inline-block;
	float: right;
	margin-top: 50px;
}


#title_text_footer{
	font-size: 20px;
}
#des_text_footer{
	font-size: 12px;
	text-align: justify;
}
#social_list{
	list-style: none;
	padding: 0;
	margin: 0px 30px 0 30px;
}
#social_list li{
	display: inline-block;
	margin-right: 30px;
}
#contact_footer{
	float: right;
	margin-top: 40px;
	margin-right: 60px;
}


@media (min-width: 1000px){
 .row{
   width: 1147px;
  }
}

@media (max-width: 1000px){
 #imgs_service img{
   width: 80%;
  }
}



section.schedule{
    font-family: 'MuseoSans100';
    margin-top: 65px;
}
section.schedule .row{
    width: auto;
    display: flex;
}
section.schedule .row #text_schedule{
    width: 460px;
}

section.schedule .row .content_schedule{
  width: auto;
  margin:0 auto;
}


section.schedule .content_schedule .title_schedule{
  width: 685px;
  height: 600px;
  background: url(../img/schedule.png) no-repeat center top;
  background-position: bottom;

  float: left;
  margin-right: 20px;
}

section.schedule .content_schedule .line_schedule{
  background:#0e71b8;
  width: 1px;
  height: 235px;
  margin-top: 5px;
  margin-right: 20px;

  float: left;
}

section.schedule .content_schedule .title_schedule h1{
    color: #1769b1;
    font-size: 40px;
    width: 360px;
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}

section.schedule .content_schedule .text_schedule{
  float: right;
}

section.schedule .content_schedule .text_schedule p{
  font-family:  'MuseoSans500';
  color: #1769b1;
  width: 360px;
  font-size: 17px;
    
  margin-bottom: 20px;
}


/*form*/
section.schedule .content_schedule .text_schedule span,
section.schedule .content_schedule .text_schedule input[type="text"],
section.schedule .content_schedule .text_schedule label{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;

  font-weight: 500;
  color: #707070;
}


section.schedule .content_schedule .text_schedule span{
  display: block;

  margin-top: 10px;
  margin-bottom: 6px;
}
section.schedule .content_schedule .text_schedule input[type="text"]{

  width: 100%;
  background: #F2F2F2;
  border: solid 1px #E3E3E3;
  padding: 7px 5px;
}
section.schedule .content_schedule .text_schedule input[type="checkbox"]{
    margin: 5px 5px 0 0;
}
section.schedule .content_schedule .text_schedule textarea{
    width: 100%;
    background: #F2F2F2;
    border: solid 1px #E3E3E3;
}

section.schedule .content_schedule .text_schedule span label.c_red{
   color: #FF0100 ;
   font-weight: bold;
   font-size: 1em
}

.btnschedule{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  background: #97A8C4;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-top:20px;
  float: right;
  padding: 6px 15px;
}

/* Contact */
#row_head_contact{
   /width: 100%;
    text-align: center;
    padding: 15px 0 20px 0;
    border-bottom: solid 1px #0E70B7;
}
#row_head_contact img{
    width: 50%;
}
#row_social p{
    font-size: 16px;
    font-family: 'MuseoSans100';
    margin-top: 10px;

    text-align: center;
    margin-bottom: 20px;
}
#formQuestion .text:focus{
	outline:0px;
}

#row_social{
    text-align: center;
    border-bottom: solid 1px #0E70B7;
    padding-bottom: 20px;
}
#row_social ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
#row_social li{
    display: inline-block;
    margin: 0 5px;
}
#row_social li a{
	display: block;
}

#row_social li a img{
    height: 60px;
}
#row_info{ padding: 10px 0; border-bottom: solid 1px #0E70B7;}
#row_info p{text-align: center; line-height: 1.7em}

#row_question textarea, #row_email input
{
    font-family: 'MuseoSans100';
    font-size: 1em;
    color: #878786
}

#row_question textarea{
    width: 100%;
    height: 100px;
    padding:  10px 20px;
    border-bottom: solid 1px #0E70B7;
}
#row_email input{
    width: 100%;
    padding:  8px 20px;
    border: none;
}
#row_btn_contact{
    text-align: right;
    padding: 10px 10px 10px 0;
}
